#slider-1 img {
    height: 40rem;
}
.swiper-pagination-bullet {
    width: 1rem !important;
    height: 1rem !important;
    opacity: 1 !important;
    background-color: rgb(240, 248, 255) !important;
}
.swiper-pagination-bullet-active {
    background-color: #b417d9 !important;
}